.interests {
  font-size: 25px;
  letter-spacing: .2rem;


}


.traveling {
  border-style: solid;
  display: block;
  width: 700px;
}

.Traveling {
  display: inline-block;
  width: 120px;
  border-style: solid;
  margin-left: -200px;

  letter-spacing: .2rem;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 0 0 15px #999;
  color: transparent;
  transition: all .5s;
  text-align: center;
}

.Traveling:hover {
  text-shadow: 0 0 0 #333;
}

.music {
  display: inline-block;
  width: 120px;
  border-style: solid;
  letter-spacing: .2rem;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 0 0 15px #999;
  color: transparent;
  transition: all .5s;
  text-align: center;
}
.music:hover{
  text-shadow: 0 0 0 #333;
}

.writing {
  display: inline-block;
  width: 120px;
  border-style: solid;
  letter-spacing: .2rem;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 0 0 15px #999;
  color: transparent;
  transition: all .5s;
  text-align: center;

}
.writing:hover{
  text-shadow: 0 0 0 #333;
}

.chess {
  display: inline-block;
  width: 120px;
  border-style: solid;
  letter-spacing: .2rem;
  font-size: 20px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 0 0 15px #999;
  color: transparent;
  transition: all .5s;
  text-align: center;
}
.chess:hover{
  text-shadow: 0 0 0 #333;
}
/* 
.profession h1 {
  letter-spacing: .2rem;
  font-size: 40px;
  font-weight: normal;
  cursor: pointer;
  text-shadow: 0 0 15px #999;
  color: transparent;
  transition: all .5s;
  text-align: center;
}

h1:hover {
  text-shadow: 0 0 0 #333;
} */